<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panier</title>
  <link rel="stylesheet" href="../css/cart-styles.css">
</head>
<body>
  <a href="index.html"><img src="../img/Cart_Logo.png" alt="Cart Logo" width="100" height="100"></a>
  <div class="container">
    <h2>Panier</h2>
    <ul id="cart"></ul>
    <button id="clear-cart-btn">Vider le panier</button>
  </div>
  
  <script src="../../Script/cart.js"></script>
</body>
</html>
