<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rechercher un produit</title>
  <link rel="stylesheet" href="../css/home-styles.css">
</head>
<body>
  <div class="search-container">
    <a href="cart.html"><img src="../img/Cart_Logo.png" alt="Cart Logo" width="100" height="100"></a>
    <input type="text" id="search-input" placeholder="Rechercher un produit...">
    <button id="search-btn">Rechercher</button>
  </div>
  <div id="search-results"></div>

  <script src="../../Script/fetch.js"></script>
</body>
</html>
